
@media screen and (min-width: 37.5em){

body{
    background:  #fff;
    background: linear-gradient(#fff,#fff, #b3daff);
    max-width: 60em;
    margin: auto;
}

.navbar {
    margin:  0 4% 4% 0;
    color:#000;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #000;
    float: left;
    font-size: 189%;
    height: 13%;
    width: 13%;
    text-align: center;
    justify-content: center;
    padding: 3% 0.5%;
    text-decoration: none;
}
.bo{
    margin-left: 23%;
}
.show {
    display: block;
}

.img{
    margin: 0 auto;
    width: 55%;
    height: 55%;
}

.img1{
    margin: 4% 4%;
    width: 90px;
    height: 100px;
}

.more{
    margin: 0 0 0 2%;
}
.lag{
    margin: 5%;
}

.sos{
    width:30%;
    height:30%;
}

.elv{
    width:30%;
    height:30%;
}

 
.michael{
    width:30%;
    height:30%; 
}

footer{
    float: left;
    margin: 2%;
    background-color: none;
}
.fotur1{
    width: 6%;
    height: 6%;
    margin: 4% 7% 7% 9%;
}
.fotur2{
    width: 5%;
    height: 5%;
    margin: 7%;
}
.fotur3{
    width: 5%;
    height: 5%;
    margin: 7%;
}
.fotur4{
    width: 5%;
    height: 5%;
    margin: 7%;
}
}


@media screen and (max-width: 37.5em) and (min-width: 68em){

body{
    background:  #fff;
    background: linear-gradient(#fff,#fff, #b3daff);
    max-width: 60em;
    margin: auto;
}

.navbar {
    margin:  0 4% 4% 0;
    color:#000;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #000;
    float: left;
    font-size: 160%;
    height: 13%;
    width: 13%;
    text-align: center;
    justify-content: center;
    padding: 3% 0.5%;
    text-decoration: none;
}
.bo{
    margin-left: 23%;
}
.show {
    display: block;
}

.img{
    margin: 0 auto;
    width: 55%;
    height: 55%;
}

.img1{
    margin: 4% 4%;
    width: 90px;
    height: 100px;
}

.more{
    margin: 0 0 0 2%;
}
.lag{
    margin: 5%;
}

.sos{
    width:50%;
    height:50%;
}

.elv{
    width:50%;
    height:50%;
}

 
.michael{
    width:50%;
    height:50%; 
}

footer{
    float: left;
    margin: 2%;
    background-color: none;
}
.fotur1{
    width: 6%;
    height: 6%;
    margin: 4% 7% 7% 9%;
}
.fotur2{
    width: 5%;
    height: 5%;
    margin: 7%;
}
.fotur3{
    width: 5%;
    height: 5%;
    margin: 7%;
}
.fotur4{
    width: 5%;
    height: 5%;
    margin: 7%;
}
}

@media screen and (min-width: 68em){

body{
    background:  #fff;
    background: linear-gradient(#fff,#fff, #b3daff);
    max-width: 60em;
    margin: auto;
}

.navbar {
    margin:  0 4% 4% 0;
    color:#000;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #000;
    float: left;
    font-size: 160%;
    height: 13%;
    width: 13%;
    text-align: center;
    justify-content: center;
    padding: 3% 0.5%;
    text-decoration: none;
}
.bo{
    margin-left: 23%;
}
.show {
    display: block;
}

.img{
    margin: 0 auto;
    width: 55%;
    height: 55%;
}

.img1{
    margin: 4% 4%;
    width: 90px;
    height: 100px;
}

.more{
    margin: 0 0 0 2%;
}
.lag{
    margin: 5%;
}

.sos{
	width:50%;
	height:50%;
}

.elv{
	width:50%;
	height:50%;
}

 
.michael{
	width:50%;
	height:50%;	
}

footer{
    float: left;
    margin: 2%;
    background-color: none;
}
.fotur1{
    width: 6%;
    height: 6%;
    margin: 4% 7% 7% 9%;
}
.fotur2{
    width: 5%;
    height: 5%;
    margin: 7%;
}
.fotur3{
    width: 5%;
    height: 5%;
    margin: 7%;
}
.fotur4{
    width: 5%;
    height: 5%;
    margin: 7%;
}
}
